@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Overpass, sans-serif;
  }
}

.active {
  border-radius: 10px;
  background: linear-gradient(145deg, #151e2b, #121924);
  box-shadow:  3px 3px 8px #080b10, -3px -3px 8px #202d40;
}

.card {
  border-radius: 20px;
background: #141c28;
box-shadow:  13px 13px 26px #101721,
             -13px -13px 26px #18212f;
}
